<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Crystal Mir2 Web</title>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-50 dark:bg-gray-900">
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
        @await Html.PartialAsync("_TopNavigation")
        @await Html.PartialAsync("_SideNavigation")

        <main class="p-4 md:ml-64 h-auto pt-20">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/flowbite.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
